body{
    background-color: gray;
}

.card {
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-card{
    background-color: wheat;
    border: 2px solid rgb(0, 0, 0);
    width: 400px;
    height: auto;
    margin-top: 30px;
    box-shadow: 2px 2px;
}

/* .card:hover{

}
 */
#pfp{
    margin: 30px;
    width: 200px; 
    height: 200px;
    border: 2px solid blue;
    border-radius: 50%;
}

.stats{
    padding: 10px;
}

.stats div{
    display: inline-block;
    padding: 10px;
}

#view-profile-button{
    padding: 10px;
    color: white;
    border-radius: 30px;
    width: auto;
    margin-bottom: 20px;

}

#view-profile-button:hover{
    padding: 10px;
    color: white;
    background-color: bisque;

}


