.container{
    margin: 0;
    padding: 0;
}

.items-card{
    display: grid ;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.item{
    padding: 10px;
    background-color: rgb(106, 214, 249);
    text-align: center;
}

@media (max-width: 1000px){
    .items-card{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 768px){
    .items-card{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 480px){
    .items-card{
        grid-template-columns: repeat(1,1fr);
    }
}